.DS_Store
lib/sqlite-jdbc-3.49.1.0.jar
lib/sqlite-jdbc.properties
bin/*
dependencies/runtime/*
settings.db
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
